#!/bin/bash

echo "e2_mongo_root_user" | docker secret create e2_mongo_root_user -
echo "e2_mongo_root_password" | docker secret create e2_mongo_root_password -
echo "e2_mongoexpress_user" | docker secret create e2_mongoexpress_user -
echo "e2_mongoexpress_password" | docker secret create e2_mongoexpress_password -
